<!DOCTYPE html>
<html>

<head lang="tr-Tr">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main/main.css">

</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">SEHELKESKİN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString()=="Index"?"active":"")">
                            <a class="nav-link" href="@Url.Action("Index","Home")">
                                Anasayfa
                                @if (ViewContext.RouteData.Values["action"].ToString() == "Index")
                                {
                                    <span class="sr-only">(Şuan Buradasınız)</span>
                                }
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About","Home")">
                                Hakkımda
                                @if (ViewContext.RouteData.Values["action"].ToString() == "About")
                                {
                                    <span class="sr-only">(Şuan Buradasınız)</span>
                                }
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Projelerim","Home")">
                                Projelerim
                                @if (ViewContext.RouteData.Values["action"].ToString() == "Projelerim")
                                {
                                    <span class="sr-only">(Şuan Buradasınız)</span>
                                }
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact","Home")">İletişim
                            
                            @if(ViewContext.RouteData.Values["action"].ToString()=="Contact")
                            {
                                <span class="sr-only">(Şuan Buradasınız)</span>
                            }

                            </a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" search="search.php">
                        <input class="form-control mr-sm-2" type="search" placeholder="Ara" name="q">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Ara</button>
                    </form>
                </div>
            </nav>
        </header>
     @RenderBody()

        <footer class="footer bg-dark text-light p-4">
            <div class="row">
                <div class="col-md-3">
                    <h3>Hakkında</h3>
                    <p>Bu Benim kişisel web sitem</p>
                    <div class="social-media">
                        <a href="https://www.instagram.com/sehelkeskin"> <i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/sehelkeskin"> <i class="fab fa-linkedin"></i></a>
                        <a href="htts://www.twitter.com"><i class="fab fa-twitter"></i></a>
                        <a href="htts://www.github.com/sehelkeskin"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Baglantılar</h3>
                    <ul>
                   
                        <li><a href="@Url.Action("About","Home")">Hakkımda</a></li>
                        <li><a href="@Url.Action("Projelerim","Home")">Projects</a></li>
                        <li><a href="@Url.Action("Contact","Home")">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>KVKK</h3>
                    <ul>

                        <li>Kullanım Koşulları</li>
                        <li><a href="@Url.Action("PrivacyPolicy","Home")">Gizlilik Projesi</a></li>
                        <li>Gizlilik Politikası</li>
                        <li><a href="@Url.Action("Kvkk","Home")">KVKK Aydınlatma Metni</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>KVKK</h3>
                    <ul>
                        <li>Telif HAkkı</li>
                        <li>&copy; 2019-Her hakkı saklıdır.</li>
                    </ul>
                </div>

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>